@import url('@Styles/mediaQueries.css');

.layout {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  padding: 70px 20px;
}

.title {
  align-self: center;

  line-height: var(--lh-06);
  letter-spacing: var(--ls-0_7px);
  color: var(--deep-navy);
  text-transform: uppercase;

  text-align: center;
}

.list-container {
  width: 100%;
  max-width: 770px;
  margin-block: 50px;
  align-self: center;
  display: flex;

  .list {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 40px;

    .item {
      width: 150px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      h3 {
        font-size: var(--28px);
      }
    }
  }

  .list:first-of-type {
    justify-content: flex-start;
  }
  .list:last-of-type {
    justify-content: flex-end;
  }
}

.btn-link {
  align-self: center;
  width: 158px;
  padding: 13px 20px;
}
.btn-link:hover {
  padding-right: 15px;

  & > .icon-arrow-right {
    margin-left: 10px;
  }
}

.icon-arrow-right {
  width: 14px;
  height: 10px;
  margin-left: 5px;
}

@media (812px <= width) {
  .list-container {
    margin-block: 60px;
    padding-inline: 50px;
  }
}

@media (--desktop), (--wide) {
  .list-container {
    max-width: 1440px;
    flex-direction: column;
    row-gap: 40px;

    .list:first-of-type,
    .list:last-of-type {
      flex-flow: row nowrap;
      justify-content: space-between;
      column-gap: 40px;
      flex-direction: row;
    }
  }
}
