.nav {
  width: 100%;
  align-items: center;

  .nav-list {
    width: 100%;
    display: flex;
    justify-content: right;
    column-gap: 40px;

    .nav-item {
      font-family: "Dharma Gothic E";
      font-size: var(--22px);
      font-weight: var(--bold);
      line-height: normal;
      letter-spacing: var(--ls-0_55px);

      color: var(--white);
    }

    .nav-item:nth-last-child(2), .nav-item:last-child {
      color: var(--golden-yellow)
    }
  }

  .btn-donate {
    width: 115px;
    margin-inline-start: 40px;
    padding: 17px 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--golden-yellow);
  }
}
