@import url('@Styles/mediaQueries.css');


.header {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;

  height: 83px;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 21px 17px 19px 20px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  & a {
    height: 100%;
    display: inline-block;
  }
}

.toggle-menu {
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.primary-nav {
  display: none;
}

@media (--desktop), (--wide) {
  .wrapper {
    padding-block: 21px 19px;
    padding-inline: 30px;
  }

  .toggle-menu {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .primary-nav {
    display: flex;
  }
}
