.form-search {
  margin-top: 30px;

  display: flex;
  flex-flow: column nowrap;
  gap: 14px;
}

.form-input {
  height: 56px;
  padding: 18px 0px 18px 20px;

  color: var(--white);
  border: 1px solid #9B9FA5;
  background-color: transparent;
}

.btn-search {
  font-size: var(--16px);
  line-height: var(--lineheight-06);
  color: var(--white);
  background-color: var(--cyan);
}
.btn-search:active {
  background-color: var(--active-cyan);
  box-shadow: 0px 4px 20px -1px rgba(0, 53, 83, 0.13);
}
