.footer {
  height: 100%;
  padding: 40px 20px;

  color: var(--white);
  background-color: var(--deep-navy);

  background-image: url(~@Images/web-racing-stripe.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: top right;


  & > nav {
    margin-top: 10px;

    > ul {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;

      & li {
        padding: 10px;
      }
    }
  }
}
