@layer base {
  *,
  *::after,
  *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    box-sizing: border-box;

    font-family: Montserrat;
    font-size: var(--16px);
    font-weight: var(--regular);
    line-height: var(--lineheight-06);
    color: var(--deep-navy);

    background-color: var(--white);
  }

  a {
    text-decoration: none;
  }

  fieldset {
    padding: 0;
    border: none;
    border-width: 0;
  }

  ul, ol, dd {
    list-style: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Dharma Gothic E';
    font-weight: var(--bold);
    color: var(--deep-navy);
  }

  h1 {
    font-size: var(--40px);
    line-height: normal;
    letter-spacing: var(--letter-spacing-1px);
  }

  button {
    border-style: none;
    background-color: transparent;
  }

  @media (--mobile-landscape) {
    h1 {
      font-size: var(--60px);
      letter-spacing: var(--letter-spacing-1_5px);
    }
  }
}
