@tailwind base;
/* @tailwind components; */
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--font-light);
  font-family: var(--fonts-body) ;
  font-size: var(--16px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat SemiBold';
}
h1 {
  font-size: var(--40px);
}
h2 {
  font-size: var(--28px);
}
h3 {
  font-size: var(--22px);
}

a {
  color: var(--primary-link-color);
}

.borderBottomDecor::after {
  content: '';
  width: 10rem;
  border-top: 1px solid #9da0a7;
  display: block;
  margin: 2rem auto;
}
